* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}
.search {
    display: flex;
    justify-content: center;
}
.search-inner {
    margin-top: 50px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    padding: 30px 40px;
}
.information {
    font-weight: bold;
}
label {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}
label div {
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 0.5rem;
    color: red;
}
.submit {
    display: flex;
    gap: 5px;
    margin-top: 1.5rem;
    height: 30px;
}
input {
    width: 79%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgba(65, 105, 225, 0.448);
    border-radius: 5px;
}
input:focus {
    background: rgba(128, 128, 128, 0.109);
}
button {
    height: 100%;
    min-width: 80px;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 64, 255, 0.551); */
    cursor: pointer;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

    color: #000;
    font-size: 1.7rem;
    font-weight: bold;
}
button:hover {
    opacity: 0.8;
}
.list {
    margin-top: 20px;
    height: auto;
}
.item {
    text-align: left;
    background: rgb(124, 252, 124);
    border-radius: 15px;
    padding: 18px;
}
.item span {
    color: red;
    font-weight: bold;
    word-break: break-all;
}

@media screen and (max-width: 450px) {
    .search-inner {
        width: 320px;
    }
}
@media screen and (max-width: 575.98px) {
    .search-inner {
        width: 380px;
    }
}
